### Understanding print function

In [1]:
#program to print Hello, World!
print("Hello World!")

Hello World!

In [2]:
4+5

9

In [3]:
x = 10
y = 5
print(x,y)
print(x+y)

10 5
15

### Program to find the ASCII value of the given character

Python **ord()** function returns the Unicode code from a given character. This function accepts a string of unit length as an argument and returns the Unicode equivalence of the passed argument.

In [4]:
c = input("Enter a character: ")

print("The ASCII value of '" + c + "' is", ord(c))

Enter a character: r
The ASCII value of 'r' is 114

### Program to find character value of corresponding ASCII value

Python's built-in function **chr()** is used for converting an Integer to a Character, while the function **ord()** is used to do the reverse, i.e, convert a Character to an Integer.

In [5]:
c = int(input("Enter ASCII value: "))

print("The character representing ASCII value " , c , " is", chr(c))

Enter ASCII value: 114
The character representing ASCII value  114  is r

### Program to add two numbers

In [6]:
num1 = 0.9
num2 = 1.8

sum = num1 + num2

print('Sum of {0} and {1} is {2}'.format(num1,num2,sum))

Sum of 0.9 and 1.8 is 2.7

### Program to find square root of input number

In [7]:
# Take input from the user
num = float(input("Enter the number: "))

# ** is used as exponential
sqrt = num ** 0.5

print('The square root of %.3f is %.3f'%(num,sqrt))

Enter the number: 6.25
The square root of 6.250 is 2.500

### Program to calculate area of a triangle

In [8]:
# Take side lengths as input from the user 
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 3
Enter second side: 4
Enter third side: 5
The area of the triangle is 6.00

### Program to solve quadratic equation ax**2 + bx + c = 0

In [9]:
#import complex math module
import cmath
a=1
b=5
c=6

#calculate discriminant 
d= (b**2)-(4*a*c)

#finding solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solutions are {0} and {1}'.format(sol1,sol2))

The solutions are (-3+0j) and (-2+0j)

### Program to swap two numbers using another variable

In [10]:
a = input('Enter value of a: ')
b = input('Enter value of b: ')

#create a temporary variable and swap the values
temp = a
a = b
b = temp

print('The value of a after swapping: {}'.format(a))
print('The value of b after swapping: {}'.format(b))

Enter value of a: 34
Enter value of b: 87
The value of a after swapping: 87
The value of b after swapping: 34

### Program to generate a random number between 0 and 9

In [11]:
#importing the random module
import random

print(random.randint(0,9))

1

### Program to convert kilometers to miles

**LOGIC -** 1 Km = 0.621371 miles

In [12]:
# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 10
10.00 kilometers is equal to 6.21 miles

### Program to convert temperature in Celsius to Fahrenheit

**LOGIC -** To convert temperatures in degrees Celsius to Fahrenheit, multiply by 1.8 (or 9/5) and add 32.

In [13]:
# Take celsius input from the user

celsius = float(input("Enter temperature in Celsius: "))

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

Enter temperature in Celsius: 32.5
32.5 degree Celsius is equal to 90.5 degree Fahrenheit

### Program to check if the number is positive, negative or zero using elif

In [14]:
# Take input from the user
num = float(input("Enter the number: "))

if num > 0:
  print("Positive Number")
elif num == 0:
  print("Zero")
else:
  print("Negative Number")

Enter the number: 57.6
Positive Number

### Program to check if the number is positive, negative or zero using nested if

In [15]:
# Take input from the user
num = float(input("Enter the number: "))
if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive Number")
else:
  print("Negative Number")

Enter the number: -98
Negative Number

### Program to check if input number is even or odd

**LOGIC -** If num is completely divisible by 2, i.e., remainder is 0 then num is even else odd

In [16]:
# Take input from the user
num = int(input('Enter the number: '))

if (num % 2) == 0:
  print("Even")
else:
  print("Odd")

Enter the number: 39
Odd

### Program to check if the input year is a leap year or not

In [17]:
# Take input from the user
year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

Enter a year: 2004
2004 is a leap year

### Program to find largest number among three input values

In [18]:
# Take input from the user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 23
Enter second number: 12
Enter third number: 89
The largest number is 89.0

### Program to check if input number is prime or not

**LOGIC-** A number divisible by 1 and itself only, i.e., having only 2 factors is a prime number.

In [19]:
# To take input from the user
num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 37
37 is a prime number

### Program to display all the prime numbers within an interval

In [20]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

### Program to find the factorial of a number
**LOGIC -** Factorial(n) = 1 x 2 x 3 x 4 x ..... (n-2) x (n-1) x n

In [21]:
# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

### Program to print multiplication table of a number

In [22]:
# To take input from the user
num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of? 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

### Program to display Fibonacci sequence upto nth term

In [23]:
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

### Program to check if the number is Armstrong or not
**LOGIC -** If sum of the cube of each digit of a number is equal to the number itself, then the number is armstrong.

In [24]:
# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

### Program to display Armstrong numbers in a certain interval

In [25]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

### Program to find sum of n natural numbers

**LOGIC -** Use loop to add numbers upto nth term or use formula n*(n+1)/2

In [26]:
# take input from the user
num = int(input("Enter a number: "))

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Enter a number: 7
The sum is 28

In [27]:
# take input from the user
num = int(input("Enter a number: "))

if num < 0:
   print("Enter a positive number")
else:
   sum = num*(num+1)/2
   print("The sum is", sum)

Enter a number: 7
The sum is 28.0

### Program to display powers of 2 using anonymous function

**What is anonymous function?**

In Python, an anonymous function is a function that is defined without a name. While normal functions are defined using the def keyword in Python, anonymous functions are defined using the lambda keyword. Hence, anonymous functions are also called lambda functions.

In [28]:
# Take input from the user
terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

How many terms? 5
The total terms are: 5
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16

### Program to display numbers divisible by 13 using anonymous function

In [29]:
# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

### Program to convert decimal into other number systems

**bin(val) -** function to convert from a decimal value to its corresponding binary value.

**oct(val) -** function to convert from a decimal value to its corresponding octal value.

**hex(val) -** function to convert from a decimal value to its corresponding hexadecimal value.

**int(val,base) -** function to convert to a decimal value using correct base, i.e., 2 for binary, 8 for octal, 16 for hexadecimal

In [30]:
# Take input from the user
dec = int(input("Enter decimal value: "))

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

print("\nVerification:")
bin_val = bin(dec)
print(bin_val, "binary to decimal", int(bin_val,2))
oct_val = oct(dec)
print(oct_val, "octal to decimal", int(oct_val,8))
hex_val = hex(dec)
print(hex_val, "hexadecimal to decimal", int(hex_val,16))

Enter decimal value: 344
The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

Verification:
0b101011000 binary to decimal 344
0o530 octal to decimal 344
0x158 hexadecimal to decimal 344