In [1]:
import sqlite3
conn = sqlite3.connect('test.db')
print ("Opened database successfully")

Opened database successfully

In [2]:
conn.execute('''CREATE TABLE RECIPES
 (ID INT(11),
 NAME VARCHAR(400),
 DESCRIPTION TEXT,
 CATEGORY_ID INT(11),
 CHEF_ID INT(255),
 CREATED DATETIME);''')
print("Table created successfully")

Table created successfully

In [ ]:
conn.execute("INSERT INTO RECIPES (ID,NAME,DESCRIPTION,CATEGORY_ID,CHEF_ID,CREATED) \
 VALUES (453, 'Noodles', 'Chinese', 21, 2343, 2012)")
conn.execute("INSERT INTO RECIPES VALUES (343, 'Pav-bhaji', 'Indian', 11, 2393, 2017)")
conn.execute("INSERT INTO RECIPES VALUES (213, 'Aloo Chat', 'Indian', 23, 2313, 2012)")
conn.execute("INSERT INTO RECIPES VALUES (412, 'Chhole Bhature', 'Indian', 11, 2333, 2014)")
conn.execute("INSERT INTO RECIPES VALUES (675, 'Hakka Noodles', 'Chinese', 21, 2443, 2013)")
conn.execute("INSERT INTO RECIPES VALUES (098, 'Manchurian', 'Chinese', 13, 2333, 2020)")
conn.execute("INSERT INTO RECIPES VALUES (786, 'Idli Dosa', 'Indian', 14, 2143, '1900-01-01')")
conn.execute("INSERT INTO RECIPES VALUES (453, 'Noodles', 'Chinese', 21, 2343, 2012)")
conn.execute("INSERT INTO RECIPES VALUES (343, 'Pav-bhaji', 'Indian', 11, 2393, 2017)")


cur = conn.cursor()
cur.execute("SELECT * FROM Recipes")

rows = cur.fetchall()

for row in rows:
      print(row)